In [35]:
import pandas as pd
import numpy as np
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
import string
from collections import Counter
import re

In [7]:
data = pd.read_csv("all_upwork_jobs_2024-02-07-2024-03-24 (1).csv")

# Show first 5 rows
print(data.head())
print(data.info())

                                               title  \
0  Experienced Media Buyer For Solar Pannel and R...
1                               Full Stack Developer
2                                    SMMA Bubble App
3             Talent Hunter Specialized in Marketing
4                                      Data Engineer

                                                link  \
0  https://www.upwork.com/jobs/Experienced-Media-...
1  https://www.upwork.com/jobs/Full-Stack-Develop...
2  https://www.upwork.com/jobs/SMMA-Bubble-App_%7...
3  https://www.upwork.com/jobs/Talent-Hunter-Spec...
4  https://www.upwork.com/jobs/Data-Engineer_%7E0...

              published_date  is_hourly  hourly_low  hourly_high  budget  \
0  2024-02-17 09:09:54+00:00      False         NaN          NaN   500.0
1  2024-02-17 09:09:17+00:00      False         NaN          NaN  1100.0
2  2024-02-17 09:08:46+00:00       True        10.0         30.0     NaN
3  2024-02-17 09:08:08+00:00       True         NaN          NaN     NaN
4  2024-02-17 09:07:42+00:00      False         NaN          NaN   650.0

         country
0            NaN
1  United States
2  United States
3  United States
4          India
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244828 entries, 0 to 244827
Data columns (total 8 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   title           244827 non-null  object
 1   link            244827 non-null  object
 2   published_date  244828 non-null  object
 3   is_hourly       244828 non-null  bool
 4   hourly_low      102422 non-null  float64
 5   hourly_high     98775 non-null   float64
 6   budget          103891 non-null  float64
 7   country         239751 non-null  object
dtypes: bool(1), float64(3), object(4)
memory usage: 13.3+ MB
None

In [9]:
# Drop duplicate rows
data = data.drop_duplicates()

# Check missing values
print(data.isnull().sum())

# Fill missing numeric values with median, text with empty string
for col in data.columns:
    if data[col].dtype == 'float64' or data[col].dtype == 'int64':
        data[col] = data[col].fillna(data[col].median())
    else:
        data[col] = data[col].fillna("")

title                  1
link                   1
published_date         0
is_hourly              0
hourly_low        142406
hourly_high       146053
budget            140937
country             5077
dtype: int64

In [13]:
# Convert salary and hourly to numeric (remove $ , commas etc.)
if 'budget' in data.columns:
    data['budget'] = data['budget'].replace('[\$,]', '', regex=True).astype(float)

if 'is_hourly' in data.columns:
    data['is_hourly'] = data['is_hourly'].replace('[\$,]', '', regex=True).astype(float)

# Check summary
print(data[['budget','is_hourly']].describe())

<>:3: SyntaxWarning: invalid escape sequence '\$'
<>:6: SyntaxWarning: invalid escape sequence '\$'
<>:3: SyntaxWarning: invalid escape sequence '\$'
<>:6: SyntaxWarning: invalid escape sequence '\$'
C:\Users\gurpr\AppData\Local\Temp\ipykernel_4252\273719011.py:3: SyntaxWarning: invalid escape sequence '\$'
  data['budget'] = data['budget'].replace('[\$,]', '', regex=True).astype(float)
C:\Users\gurpr\AppData\Local\Temp\ipykernel_4252\273719011.py:6: SyntaxWarning: invalid escape sequence '\$'
  data['is_hourly'] = data['is_hourly'].replace('[\$,]', '', regex=True).astype(float)

               budget      is_hourly
count   244828.000000  244828.000000
mean       444.342967       0.575657
std      10254.421295       0.494244
min          5.000000       0.000000
25%        100.000000       0.000000
50%        100.000000       1.000000
75%        100.000000       1.000000
max    1000000.000000       1.000000

# Extract Keywords from Job Titles

In [51]:
# Base stopwords (English)
stop_words = set(stopwords.words('english'))

# Add custom stopwords
custom_stopwords = {
    "and","or","to","a","the","in","of","for","on","with","at","by","an",
    "is","are","from","as","it","this","that","be","we","i","you","they",
    "our","us","your","job","work","project","need","looking","want",
    "amp","-","_",":",".",",",";","'","``","''","(",")","/","|"
}
stop_words = stop_words.union(custom_stopwords)

# Clean job titles
data['job_title_clean'] = data['title'].str.lower()

# Remove punctuation & symbols
data['job_title_clean'] = data['job_title_clean'].apply(
    lambda x: re.sub(r"[()/:&.,]", " ", str(x))
)

# Remove multiple spaces
data['job_title_clean'] = data['job_title_clean'].str.replace(r"\s+", " ", regex=True)

# Tokenize and remove stopwords
data['keywords'] = data['job_title_clean'].apply(
    lambda x: [word for word in word_tokenize(x) if word not in stop_words and len(word) > 2]
)

# Show example
print(data[['title','keywords']].head())

                                               title  \
0  Experienced Media Buyer For Solar Pannel and R...
1                               Full Stack Developer
2                                    SMMA Bubble App
3             Talent Hunter Specialized in Marketing
4                                      Data Engineer

                                            keywords
0  [experienced, media, buyer, solar, pannel, roo...
1                           [full, stack, developer]
2                                [smma, bubble, app]
3           [talent, hunter, specialized, marketing]
4                                   [data, engineer]

# Keyword Frequency

In [53]:
all_keywords = []

for row in data['keywords']:
    all_keywords.extend(row)

# Count top 20 keywords
keyword_freq = Counter(all_keywords).most_common(20)

print("Top 20 Keywords:")
print(keyword_freq)

Top 20 Keywords:
[('needed', 17556), ('website', 16846), ('developer', 16015), ('expert', 14978), ('video', 13982), ('design', 13127), ('designer', 12922), ('specialist', 9012), ('marketing', 8396), ('media', 8256), ('app', 8214), ('editor', 7994), ('social', 7645), ('youtube', 7638), ('data', 7123), ('create', 6864), ('manager', 6848), ('content', 6808), ('wordpress', 6763), ('google', 6733)]

In [55]:
data.to_csv("cleaned_jobs.csv", index=False)

print("Cleaned dataset saved as cleaned_jobs.csv")

Cleaned dataset saved as cleaned_jobs.csv